<nav>
  <ul class="links navbarul">
    <li class="linkss navbarp">
      <a href="{% url 'home' %}"><p id="logo">CatlogIQ</p></a>
    </li>

    {% if user.is_authenticated %}
      {% if user.Role == 'Vendor' %}
        <li class="navbarli"><a href="{% url 'vendor_dashboard' %}">Dashboard</a></li>
        <li class="navbarli"><a href="{% url 'view_my_products' %}">My Products</a></li>
        <li class="navbarli"><a href="{% url 'create_product' %}">Add Product</a></li>
      {% endif %}
    {% endif %}

    <li class="navbarli dropdown">
      <a href="#">Categories ▾</a>
      <ul class="dropdown-menu">
        {% for cat in categories %}
          <li><a href="{% url 'products_by_category' cat.id %}">{{ cat.name }}</a></li>
        {% empty %}
          <li><em>No categories found</em></li>
        {% endfor %}
      </ul>
    </li>

    <li class="navbarli">
      <form class="form-inline">
        <input class="form-control mr-sm-3" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </li>
  </ul>

  <div class="auth-buttons">
    {% if user.is_authenticated %}
      {% if user.Role == 'Customer' %}
        <a href="#" class="auth-link">🛒</a>
        <a href="{% url 'view_profile' %}" class="auth-link">Welcome, {{ user.First_Name }}!</a>
      {% elif user.Role == 'Vendor' %}
        <a href="{% url 'view_profile' %}" class="auth-link">Welcome, {{ user.First_Name }}!</a>
      {% endif %}
      <a href="{% url 'logout_user' %}" class="auth-link">Log Out</a>
    {% else %}
      <a href="{% url 'register_user' %}" class="auth-link">Sign Up</a>
      <a href="{% url 'login_user' %}" class="auth-link">Log In</a>
    {% endif %}
  </div>
</nav>